.question {

  min-height: 100%;

  background-size: 140px 140px;

  @import "ui";

  @media(min-width: 980px) {
    font-size: 0;
    white-space: nowrap;
    height: 100%;

    @import 'transitions';

  }

  .animation {
    margin: 0 auto;
    padding: 20px 0;

    @media(min-width: 980px) {
      padding: 0;
      width: 62%;
      height: 100%;
    }
  }

  .options-wrapper {

    @import 'options/title';
    @import 'options/answer';

    padding: 20px 20px 40px 20px;
    position: relative;

    @media(min-width: 980px) {
      width: 38% !important;
      padding: 20px;
    }

  }

  .animation,
  .options-wrapper {
    position: relative;
    display: block;
    margin: 0 auto;

    @media(min-width: 480px) {
      width: 85%;
    }

    @media(min-width: 660px) {
      width: 75%;
    }

    @media(min-width: 740px) {
      width: 62%;
    }

    @media(min-width: 980px) {
      white-space: normal;
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
    }
  }

}