.question {
  min-height: 100%;
  background-size: 140px 140px;

  overflow: auto;
  display: block;

  &:first-of-type {
    position: relative !important; // make the first question relative so it sets the height of the container
    padding-bottom: 50px;
    //height: 100%;

    @media(min-width: $mainBreakpoint) {
      position: inherit;
      padding-bottom: inherit;
    }
  }


  @import "ui";
  @import 'options/title';

  @media(min-width: $mainBreakpoint) {
    font-size: 0;
    white-space: nowrap;
    height: 100%;

    @import 'transitions';

  }

  .animation {
    //margin: 0 20px !important;
    //box-sizing: border-box;
    //padding: 0 20px;
    //width: 100%;
    position: relative;

    @media(min-width: $mainBreakpoint) {
      padding: 0;
      width: 62%;
      height: 100%;
    }

    > img {
      position: relative;
      display: block;
      //max-width: 100%;
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;

      @media(min-width: $mainBreakpoint) {
        position: absolute;
        top: 50%;
        @include transform(translateY(-50%));
      }
    }
  }

  .options-wrapper {

    @import 'options/answer';

    padding: 20px 20px 40px 20px;
    position: relative;

    @media(min-width: $mainBreakpoint) {
      width: 38% !important;
      padding: 20px;
    }

  }

  .animation,
  .options-wrapper {
    position: relative;
    display: block;
    margin: 0 auto;

    &.only-mobile-and-tablet {
      padding-bottom: 0 !important;
    }

    @media(min-width: 480px) {
      width: 85%;
    }

    @media(min-width: 660px) {
      width: 75%;
    }

    @media(min-width: 740px) {
      width: 62%;
    }

    @media(min-width: $mainBreakpoint) {
      white-space: normal;
      font-size: 14px;
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
    }
  }

}