.no-touch & {

  .inner {
    @include css3-prefix(transition-delay, 0.5s);
    @include css3-prefix(transition-duration, 1s);
    @include css3-prefix(transition-property, (transform));
    @include transform(translateY(0));

    .animation {
      @include css3-prefix(transition-delay, 0.8s);
      @include css3-prefix(transition-duration, 0.8s);
      opacity: 1;
    }

    .options-wrapper {
      @include css3-prefix(transition-delay, 0.8s);
      @include css3-prefix(transition-duration, 0.8s);
      @include css3-prefix(transition-property, (transform, opacity));
      @include transform(translateY(0));
      opacity: 1;

      .answer {
        opacity: 1;
        @include css3-prefix(transition-duration, 1.2s);
        @include css3-prefix(transition-property, (transform, opacity));
        @include transform(translateY(0));

        &:first-of-type {
          @include css3-prefix(transition-delay, 0.6s);
        }

        &:nth-of-type(2) {
          @include css3-prefix(transition-delay, 0.9s);
        }

        &:last-of-type {
          @include css3-prefix(transition-delay, 1.2s);
        }

      }

    }

  }

  &.hidden {

    .inner {
      @include css3-prefix(transition-delay, 0.0s);
      @include transform(translateY(-2%));

      .animation {
        //@include css3-prefix(transition-delay, 0.5s);
        //@include css3-prefix(transition-duration, 0.8s);
        opacity: 0;
      }

      .options-wrapper {
        @include transform(translateY(-5%));
        opacity: 0;

        .answer {
          @include transform(translateY(-15%));
          opacity: 0;
        }

      }

    }
  }

}