// Fonts
$textColor: #333;
$baseFontSize: 13px;


// Colors
$bgBlue: #92C1E9;
$bgPink: #db71aa;
$bgGreen: #21C28C;


// Responsive
$mainBreakpoint: 940px; //980px;


// Paths
$img-path: '../img/';
$fonts-path: '../fonts/'; //