.answer {

  position: relative;
  margin-bottom: 25px;
  cursor: pointer;

  &:last-of-type {
    margin-bottom: 0;
  }

  //.no-touch & {
    &:hover {
      .letter {
        @include transform(scale(1.15, 1.15));
      }
    }
  //}

  &.selected {

    .letter {
      @include transform(scale(1.15, 1.15));
    }

    .text {
      font-weight: bold;
    }

  }

  .letter {
    position: absolute;
    display: block;
    text-align: center;
    top: -20px;
    left: 0px;
    width: 40px;
    height: 40px;
    //border: 2px solid #333;
    @include border-radius(50%);
    z-index: 10;

    @include css3-prefix(transition-duration, 0.3s);
    @include css3-prefix(transition-property, transform);
  }

  .text {
    display: block;
    padding: 20px;
    margin-left: 20px;
    font-size: 15px;
    border: 2px solid #333;
  }

  .bottom {
    display: block;
    height: 15px;
    border-bottom: 2px solid #333;
    border-left: 2px solid #333;
    border-right: 2px solid #333;
    margin-left: 20px;

    background-image: url('#{$img-path}dots.png');
  }

}