.options-wrapper.only-tablet-and-below {
  padding: 20px !important;
  margin-top: 0;

  .options-header {
    margin-top: 0;
    margin-bottom: 0;

    .counter {
      width: 80px;
      height: 80px;
    }
    .title-wrapper {
      padding-left: 100px;

      .title {
        font-size: 14px !important;
        padding: 15px;

        @media(min-width: 480px) {
          font-size: 16px !important;
        }

      }
    }
  }

}

.options-header {
  font-size: 0;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 40px;

  @media(min-width: $mainBreakpoint) {
    margin-bottom: 20px;
  }

  .counter {
    position: absolute;
    left: 0;
    top: 50%;
    @include transform(translateY(-50%));
    @include border-radius(50%); //
    width: 100px;
    height: 100px;

    .question-counter {
      display: none;
    }

  }

  .title-wrapper {
    padding-left: 120px;
    box-sizing: border-box;
    width: 100%;

    .title {
      display: block;
      position: relative;
      border: 2px solid #333;
      font-size: 18px;
      padding: 20px;
      box-sizing: border-box;
    }
  }

  .counter,
  .title-wrapper {
    display: inline-block;
    vertical-align: middle;
  }

}