.result-list {

  @import 'list/list-item';


  @media(min-width: $mainBreakpoint) {
    background-image: url('#{$img-path}summary/bundle-3.png');
    background-position: 100% 0%;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }

}