.result-share {

  margin-top: 20px;



  .share-icons-wrapper {
    font-size: 0;
    position: relative;
    overflow: visible;
    text-align: center;

    .share-icon {
      display: inline-block;
      width: 36px;
      height: 36px;
      margin-right: 10px;
      cursor: pointer;

      img {
        display: block;
        position: relative;
        width: 36px;
        height: 36px;
      }

      &.share-email {
        margin-right: 0 !important;

        @media(min-width: $mainBreakpoint) {
          margin-right: 10px;
        }
      }
    }
  }

  @media(min-width: $mainBreakpoint) {

    //width: 62%;

    .share-icons-wrapper {
      text-align: left;
    }

  }

}