#summary {

  top: 0;

  //position: relative;
  min-height: 100%;

  @media(min-width: 980px) {
    height: 100%;
  }

  .inner {
    position: relative;
    margin: 0 auto;
    padding: 15px;

    @media(min-width: 480px) {
      width: 85%;
    }

    //@media(min-width: 660px) {
    //  width: 75%;
    //}

    //@media(min-width: 740px) {
    //  width: 62%;
    //}

    @media(min-width: 980px) {
      max-width: 1024px;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translateX(-50%) translateY(-50%));
    }

  }

}