<!--<div class="title-wrapper">-->
    <!--<%= copy.title %>-->
<!--</div>-->

<% items.forEach(function(item, i) { %>

<div class="item <%= rollOver %>" data-id="<%= i %>">
    <div class="open-item image">
        <img class="normal" src="img/items/<%= item.img1 %>">

        <% if (!isTouch) { %>
        <img class="over" src="img/items/<%= item.img2 %>">
        <% } %>

        <img class="bg" src="img/items-bg.png">
    </div>
    <div class="open-item name">
        <%= item.name %>
    </div>
</div>

<% }); %>