<div id="question-<%= idx %>" class="question content-element hidden ui-<%= question.ui %> bg-<%= question.bg %>"
     style="<% if (question.bgImg) { %>background-image: url('img/<%= question.bgImg %>') <% } %>">

    <div id="question-inner-<%= idx %>" class="inner">

        <div class="options-wrapper only-tablet-and-below">
            <h1 class="options-header">
                <div class="counter"><%= counterSvg %></div>

                <div class="title-wrapper">
                    <span class="title"><%= question.text %></span>
                </div>
            </h1>
        </div>

        <div class="animation">
            <img class="preload-image" data-src="<%= imgSrc %>">
        </div>

        <div class="options-wrapper pink">

            <h1 class="options-header only-above-tablet">
                <div class="counter"><%= counterSvg %></div>

                <div class="title-wrapper">
                    <span class="title"><%= question.text %></span>
                </div>
            </h1>

            <% question.answers.forEach(function(answer, i) { %>

            <div class="answer" data-value="<%= answer.value %>" data-idx="<%= i %>">

                <%= alphabet[i] %>

                <span class="text" style="background-color: <%= questionColor[i] %>"><%= answer.text %></span>

                <span class="bottom" style="background-color: <%= questionColor[i] %>"></span>

            </div>

            <% }); %>

        </div>

    </div>

</div>