<div class="inner">

    <div class="result-header">

        <h1 class="result-title">
            <%= copy.summaryTitle[userValues.title] %>
        </h1>

        <div class="result-overview">
            <div class="intro">
                <strong>Here's how your day looks</strong>

                <span class="click-message">Click on the nodes to reveal more</span>

                <span class="swipe-message">Swipe left to reveal more</span>
            </div>

            <div class="graph-wrapper">

                <div id="graph" class="graph"></div>

                <div class="labels">

                    <%

                    //var labelWidth = Math.floor(100 / (questions.length-1));
                    var labelWidth = 100 / (questions.length-1);

                    _.each(questions, function(question, i) {

                    %>

                        <span class="label" style="width: <%= labelWidth %>%">
                            <span class="text"><%= question.title %></span>
                        </span>

                    <% }); %>

                </div>

            </div>

        </div>

    </div>

    <div class="result-list swiper-container">

        <div class="swiper-wrapper">

            <% _.each(userAnswers, function(answer, i) { %>
            <div id="result-list-item-<%= i %>" class="list-item swiper-slide">
                <!--Chosen answer: <%= answer.chosenAnswer %>-->
                <!--Value: <%= answer.value %>-->

                <div class="text-box">

                    <div class="img-wrapper">
                        <img class="time" src="img/times/<%= data.questions[i].timeImg %>">
                        <img class="mark"
                             src="img/results-marks/<%= questions[i].answers[answer.chosenAnswer].eval %>-mark.svg">

                        <img class="deco" src="img/summary/bundle-2.png">
                    </div>

                    <strong class="introTip">
                        <%= questions[i].answers[answer.chosenAnswer].introTip %>
                    </strong>

                    <span class="tip">
                        <%= questions[i].tip %>
                    </span>

                    <div class="arrows-wrapper">

                        <% if (i >= userAnswers.length-1) { %>
                        <span class="restart">RESTART</span>
                        <% } %>

                        <span class="prev">PREV</span>
                        <span class="next">NEXT</span>
                    </div>


                </div>

            </div>
            <% }); %>

        </div>

        <!-- If we need navigation buttons -->
        <!--<div class="swiper-button-prev"></div>-->
        <!--<div class="swiper-button-next"></div>-->

    </div>

    <div class="result-share">

        <strong>Know someone who could use their time more efficiently?</strong>

        <div class="share-icons-wrapper">

            <img class="twitter" src="twitter.png">
            <img class="facebook" src="facebook.png">
            <img class="email" src="email.png">

        </div>

    </div>


</div>