<div class="inner">

    <div class="result-header">

        <h1 class="result-title">
            <%= copy.summaryTitle[userValues.title] %>
        </h1>

        <div class="result-overview">
            <div class="intro">
                <strong>Here's how your day looks</strong>

                <span class="click-message">Click on the sticky nodes to reveal more</span>

                <span class="swipe-message">Swipe left to reveal more</span>
            </div>

            <div class="graph-wrapper">

                <div id="graph" class="graph"></div>

                <div class="labels">

                    <%

                    //var labelWidth = Math.floor(100 / (questions.length-1));
                    var labelWidth = 100 / (questions.length-1);

                    _.each(questions, function(question, j) {

                    %>

                        <span class="label" style="width: <%= labelWidth %>%">
                            <span class="text"><%= question.title %></span>
                        </span>

                    <% }); %>

                </div>

            </div>

        </div>

    </div>

    <div class="result-list swiper-container">

        <div class="swiper-wrapper">

            <% _.each(userAnswers, function(answer, i) { %>
            <div id="result-list-item-<%= i %>" class="list-item swiper-slide">
                <!--Chosen answer: <%= answer.chosenAnswer %>-->
                <!--Value: <%= answer.value %>-->

                <div class="text-box">

                    <div class="img-wrapper">
                        <img class="time" src="img/times/<%= data.questions[i].timeImg %>">
                        <img class="mark"
                             src="img/results-marks/<%= questions[i].answers[answer.chosenAnswer].eval %>-mark.svg">

                        <img class="deco" src="img/summary/bundle-2.png">
                    </div>

                    <strong class="introTip">
                        <%= questions[i].answers[answer.chosenAnswer].introTip %>
                    </strong>

                    <span class="tip">
                        <%= questions[i].tip %>
                    </span>

                    <div class="arrows-wrapper">

                        <% if (i > 0) { %>
                        <span class="prev">

                            <% if (ie9) { %>
                            <img src="img/arrow-left.png">
                            <img src="img/times/png/<%= questions[i-1].timeImgIE %>">
                            <% } else { %>
                            <img src="img/arrow-left.svg">
                            <img src="img/times/<%= questions[i-1].timeImg %>">
                            <% } %>
                        </span>
                        <% } %>

                        <% if (i < questions.length-1) { %>
                        <span class="next">
                            <% if (ie9) { %>
                            <img src="img/times/png/<%= questions[i+1].timeImgIE %>">
                            <img src="img/arrow-right.png">
                            <% } else { %>
                            <img src="img/times/<%= questions[i+1].timeImg %>">
                            <img src="img/arrow-right.svg">
                            <% } %>

                        </span>
                        <% } %>

                        <% if (i >= userAnswers.length-1) { %>
                        <span class="finish">
                            <% if (ie9) { %>
                            <img src="img/finish.png">
                            <% } else { %>
                            <img src="img/finish.svg">
                            <% } %>
                        </span>
                        <% } %>

                    </div>


                </div>

            </div>
            <% }); %>


            <!--FINAL SLIDE-->
            <div id="result-list-item-final" class="list-item swiper-slide swiper-slide-final">

                <div class="text-box">

                    <strong class="final-title">
                        <%= copy.summaryFinal.title %>
                    </strong>

                    <span class="final-text">
                        <%= copy.summaryFinal.text %>
                    </span>

                    <div class="restart-wrapper">
                        <% if (ie9) { %>
                        <img src="img/restart.png" class="restart">
                        <% } else { %>
                        <img src="img/restart.svg" class="restart">
                        <% } %>
                    </div>

                </div>

            </div>

        </div>


        <div class="result-share">

            <div class="share-icons-wrapper">

                <img src="img/share-twitter.svg" class="share-twitter share-icon" data-source="twitter">
                <img src="img/share-linkedin.svg" class="share-linkedin share-icon" data-source="linkedin">
                <a href="mailto:?subject=<%= copy.share.emailSubject %>&body=<%= copy.share.emailBody %>"><img src="img/share-email.svg" class="share-email share-icon" data-source="email"></a>

            </div>

        </div>


    </div>

</div>