.graph-wrapper {

  display: none;

  @media(min-width: 980px) {
    display: block;
    position: relative;
    height: 160px;
    margin-bottom: 10px;

    .graph {

      background-color: #FFF;

      height: 100%;
      box-sizing: border-box;
      padding: 20px;
      border: 2px solid #333;

    }

  }

}